#homeHero {
    height: 300px;
    padding: 100px;
}

#homeHero h1, h2, h6 {
    text-align: center;
}

.subQuote {
    font-size: .2rem;   
    font-style: oblique;
    color: #555555;
}

#codeBox {
    padding-top: 40px;
}

#exampleBox {
    padding-top: 2rem;
}

.codeSnippet {
    font-family: monospace;
}

.panel {
    height: 300px;
    overflow: scroll;
}

.cssIndent {
    padding-left: 2rem;
    font-family: monospace;
}

.commentary {
    margin-top: 5rem;
    padding: 0px;
}